<div class="wrapper">


    <div class="main_content">
        <div class="header"><strong><b>Tell us more about you</b></strong></div>
        <div class="info">
            <h3>Basic Details</h3>

            <form>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault01">Your Name*</label>
                        <input type="text" class="form-control no-border" id="validationDefault01"
                            placeholder="Enter your name" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault02">Email Id</label>
                        <input type="email" class="form-control" id="validationDefault02"
                            placeholder="example@domain.com" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefaultUsername">Pin Code*</label>
                        <input type="number" class="form-control" id="validationDefaultUsername"
                            placeholder="Eg: 110018" aria-describedby="inputGroupPrepend2" required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="validationDefault03">Your Address</label>
                        <input type="text" class="form-control" id="validationDefault03"
                            placeholder="Please enter your address here" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault04">State*</label>
                        <input type="text" class="form-control" id="validationDefault04" placeholder="Your state"
                            required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault05">District*</label>
                        <input type="text" class="form-control" id="validationDefault05" placeholder="Your District"
                            required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault06">City/Town/Village*</label>
                        <input type="text" class="form-control" id="validationDefault06"
                            placeholder="Your City/Town/Village" required>
                    </div>

                </div>
                <button class="button"><span>Continue </span></button>

            </form>


        </div>
    </div>