<div id = "map">
    <img  src="/assets/maharashtra-map-english.jpg" usemap="#image-map" >
</div>
    <map name="image-map">
        <area target="" alt="Ratnagiri" title="Ratnagiri" href="javascript:chartdata('Ratnagiri')"  coords="76,397,103,537,149,525,124,412,95,389" shape="poly" (click)="chartdata('Ratnagiri')" data-name="Ratnagiri" data-left="112" data-top="462">
        <area target="" alt="Thane" title="Thane" href="javascript:chartdata('Thane')" coords="49,266,113,288,136,263,100,200,54,186,39,218" shape="poly" (click)="chartdata('Thane')" data-name="Thane" data-left="93" data-top="237">
    </map>
   
    
